@font-face {
  font-family: NanumBarunCatsi;
  font-style: normal;
  font-weight: normal;
  src:
    local('NanumBarunCatsi'),
    url('https://raw.githack.com/XCninety/Black-Highlighter-KR/master/NanumBarunGothic_E.woff') format('woff'), 
    url('https://raw.githack.com/XCninety/Black-Highlighter-KR/master/NanumBarunGothic_E.ttf') format('ttf');
}
