@font-face {
    font-family: 'NanumBarunCatsi';
    font-style: normal;
    font-weight: 400;
    src:
        url(../master/NanumBarunGothic_E.woff) format('woff'),
        url(../master/NanumBarunGothic_E.ttf)  format('truetype');
}

@font-face {
    font-family: 'NanumBarunCatsi';
    font-style: normal;
    font-weight: 700;
    src:
        url(../master/NanumBarunGothicBold_E.woff) format('woff'),
        url(../master/NanumBarunGothicBold_E.ttf)  format('truetype');
}
